<!DOCTYPE html>
<html>
    <head>
        <script>
            function login(){
                location.replace('main');
            }
            function create(){
                location.replace('create');
            }
        </script>
        
    </head>
    <body>
        <form>
            <img src="" width="400" height="400" value="Unikorn Logo"><br>
            <input type="text" value="아이디"><br>
            <input type="text" value="패스워드"><br>
            <input type="button" value="로그인" onclick="login()">
            <input type="button" value="회원가입" onclick="create()">
        </form>
    </body>
</html>
