<!DOCTYPE html>
<html>
    <head>
        <script>
            function create(){
                location.replace('/signup');
            }
        </script>
        
    </head>
    <body>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <img src="" width="400" height="400" value="Unikorn Logo"><br>
            Username:<br><input type="username" name="username"><br>
            Password:<br><input type="password" name="password"><br>
            <input type="submit" value="sign in" >
            <input type="button" value="sign up" onclick="create()">
        </form>
    </body>
</html>
