<!DOCTYPE html>
<html>
    <head>
        <script>
            function movelistBoard(){
                location.replace('../listBoard');
            }    
        </script>
    </head>
    <body>
        <h2>여기는 메인 화면 입니다.</h2>
        <input type="button" value="자유게시판" onclick="movelistBoard()"><br>
        <input type="button" value="장터게시판" onclick="movelistBoard()"><br>
        <input type="button" value="강의평가게시판" onclick="movelistBoard()"><br>
        <input type="button" value="대학생활 팁 게시판" onclick="movelistBoard()"><br>
        <input type="button" value="자유게시판" onclick="movelistBoard()">
    </body>
</html>